MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=plantpal
MYSQL_USER=plantpaluser
MYSQL_PASSWORD=

DB_ENGINE=mysql
DB_HOST=database # This must match the name of the database service in your compose.yml file
DB_PORT=3306
DB_CHARSET=utf8mb4

API_SECRET_KEY=

PUSH_SERVER_ID=mailto:maricha6@ncsu.edu
PUSH_PRIVATE_KEY=
PUSH_PUBLIC_KEY=